/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: 'Raleway', sans-serif;
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  scroll-behavior: smooth;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-webkit-scrollbar {
  background-color: lightgray;
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(53, 53, 53, 1);
  border-radius: 200px;
}

::-moz-selection {
  background: rgba(53, 53, 53, 1);
  color: #fff;
}

::selection {
  background: rgba(53, 53, 53, 1);
  color: #fff;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {

  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " ("attr(href) ")";
  }

  abbr[title]:after {
    content: " ("attr(title) ")";
  }

  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}































/* ///////////////////////////////////////// HERO SECTION ////////////////////////////////////////////// */
#hero {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to right, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../img/hero-background.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  position: relative;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-heading {
  transform: translateY(-5rem);
}

.nav--btn {
  display: none;
}

.nav-check {
  display: none;
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;
}

.nav__button {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  cursor: pointer;

  background-color: rgba(53, 53, 53, 1);
  box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .2);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 1.5rem;
  right: 1.5rem;

  z-index: 5000;
}

.nav--icon {
  width: 2.2rem;
  height: 3px;
  background-color: #fff;
}

.nav--icon::before,
.nav--icon::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: block;
  transition: all .2s;
}

.nav--icon::before {
  transform: translateY(-9px);
}

.nav--icon::after {
  transform: translateY(6px);
}

.nav-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 20rem;
  width: max-content;

  padding: 1rem 1.4rem;
  border-radius: 10px;
  background-color: rgba(53, 53, 53, 1);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -150%);

  z-index: 4999;

  visibility: hidden;
  opacity: 0;
  transition: all .5s;
}

.nav__list-2 {
  list-style: none;
}

.nav__link-2 {
  text-decoration: none;
  font-size: 1.2rem;
  color: #fff;
  padding: .8rem;
  border-radius: 10px;

  transition: all .2s;
}

.nav__list-2:hover>.nav__link-2 {
  color: rgba(53, 53, 53, 1);
  background-color: #fff;
}

.nav__icon-2 {
  width: 1.5rem;
  height: 1.5rem;
  fill: currentColor;

  transition: all .2s;
}

.nav__button:hover .nav--icon::before {
  transform: translateY(-11px);
}

.nav__button:hover .nav--icon::after {
  transform: translateY(8px);
}

.nav-check:checked~.nav-content {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, -50%);
}

.nav-check:checked .nav--icon {
  opacity: 0;
}

.nav-check:checked+.nav__button .nav--icon::before {
  transform: translate(0, 1px) rotate(-135deg);
}

.nav-check:checked+.nav__button .nav--icon {
  background-color: transparent;
}

.nav-check:checked+.nav__button .nav--icon::after {
  transform: translate(0, -1px) rotate(135deg);
}

.navigation {
  position: fixed;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-height: 302.5px;

  z-index: 500;
  background: rgba(53, 53, 53, 1);
  backdrop-filter: blur(10px);
  padding: 0.5rem;
  border-radius: 10px;
}

.nav__list {
  position: relative;

  list-style: none;
  padding: .5rem;
  font-size: 1.2rem;
  font-weight: lighter;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, .2);

  transition: all .3s;
}



.slide-out {
  background-color: rgba(53, 53, 53, 1);
  border-radius: 10px;
  padding: 0 .5rem;
  width: 150px;
  height: 100%;
  color: transparent;
  fill: #fff;

  position: absolute;
  top: 0;
  right: 0;
  z-index: 600;

  visibility: hidden;
  overflow: hidden;

  display: flex;
  align-items: center;

  transform: scaleX(0);
  transform-origin: right;

  transition: all .3s;
}

.nav__link:hover>.slide-out {
  transform: scaleX(1);
  visibility: visible;
  color: #fff;
}

.nav__icon {
  width: 1.3rem;
  height: 1.3rem;
}

.wave-vector-1,
.wave-vector-2 {
  width: 110%;
  height: auto;
  position: absolute;
}

.wave-vector-1 {
  z-index: 1;
  bottom: -1%;
}

.wave-vector-2 {
  bottom: 0;
}

/* ////////////////////////  MEDIA QUERIES  ///////////////////////////// */
@media only screen and (max-width: 59.375em) {
  .nav--btn {
    display: block;
  }

  .navigation {
    display: none;
  }
}

@media only screen and (max-width: 34.375em) {
  .hero-heading {
    transform: translateY(-3rem) scale(.85);
  }
}

@media only screen and (max-width: 26.5625em) {
  .hero-heading {
    transform: translateY(-2rem) scale(.75);
  }
}

@media only screen and (max-width: 20em) {
  .hero-heading {
    transform: translateY(-2rem) scale(.7);
  }
}





























/* //////////////////////////////////////// ABOUT ME SECTION ///////////////////////////////////////// */
#about-me {
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(228, 228, 228, 1);

  background-image: url(../img/about-me-bg.svg);
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
}

.about-me--container {
  margin-top: 2rem;
  width: 60%;
}

.about-me--text {
  font-size: 1.15rem;
  font-weight: 400;
  font-family: inherit;
}

hr {
  width: 5rem;
  margin-top: 5rem;
  border: none;
  border-top: 7px dotted rgba(46, 123, 115, .6);
}

/* ////////////////////////  MEDIA QUERIES  ///////////////////////////// */
@media only screen and (max-width: 56.875em) {
  #about-me {
    background-size: 80%;
  }
}

@media only screen and (max-width: 48em) {
  #about-me {
    background-size: 90%;
  }

  .about-me--container {
    margin-top: 1rem;
    width: 70%;
  }

  hr {
    margin-top: 3rem;
  }
}

@media only screen and (max-width: 34.375em) {
  #about-me {
    background-size: 98%;
  }
}

@media only screen and (max-width: 26.5625em) {
  #about-me {
    background-image: unset;
  }

  .about-me--container {
    width: 80%;
  }
}




































/* ////////////////////////////////////////// SKILLS SECTION //////////////////////////////////////////// */
#skills {
  width: 100vw;
  min-height: 110vh;
  background-color: rgba(228, 228, 228, 1);
  overflow: hidden;
  text-align: center;

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.vector-background {
  position: absolute;
  width: 15rem;
  height: 15rem;
}

.vector-1 {
  top: 0;
  right: 0;
  transform: rotate(-10deg);
}

.vector-2 {
  bottom: 4.5rem;
  left: 1rem;
  transform: rotate(-110deg);
}

.skills-container {
  margin-bottom: 40vh;
  width: 90%;

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.skill-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;

  background-color: rgb(196, 196, 196);
  padding: 1rem 2rem;
  margin: 1.2rem;
  border-radius: 10px;
  min-height: 230px;
  max-width: 192px;
  text-align: center;

  position: relative;
  z-index: 10;
  transition: all .2s;
}

.skill-box:hover {
  box-shadow: .2rem 1.8rem 2rem rgba(0, 0, 0, .2);
  transform: translateY(-.3rem);
}

.skill-box::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  background-color: rgba(111, 110, 110, 0.21);

  position: absolute;
  top: 0;
  left: -45%;
}

.skill-bar,
.skill-text {
  position: relative;
  z-index: 2;
}

.skill-bar {
  width: 8rem;
  height: 8rem;
}

.skill-text {
  font-size: 1.3rem;
  font-family: inherit;
  color: #222;
  letter-spacing: .1rem;
}

.percentage {
  font-size: 2.2rem;
  font-weight: 700;
  font-family: inherit;

  position: absolute;
  top: 4.1rem;
  left: 50%;
  z-index: 10;
  transform: translateX(-50%);
}

.percentage-sp {
  top: 3.5rem;
}

/* ////////////////////////  MEDIA QUERIES  ///////////////////////////// */
@media only screen and (max-width: 63.9375em) {
  .skills-container {
    margin-bottom: 12vh;
  }
}

@media only screen and (max-width: 59.375em) {
  .vector-background {
    display: none;
  }
}

@media only screen and (max-width: 23.125em) {
  .skills-container {
    margin-bottom: 10vh;
  }
}




























/* //////////////////////////////////////////// CERTIFICATIONS SECTION ////////////////////////////////// */
#certifications {
  width: 100vw;
  min-height: 100vh;
  background-image: linear-gradient(to left bottom, rgba(89, 118, 62, 1), rgba(46, 123, 115, 1));
  background-attachment: fixed;
  clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
  margin-top: -10%;
  padding: 8% 0;

  position: relative;
  overflow: hidden;
  z-index: 2;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.section--heading {
  font-size: 3.5rem;
  font-weight: 300;
  color: #222;
  letter-spacing: .2rem;
  margin: 0;
  margin-bottom: 2rem;

  position: relative;
  z-index: 10;
}

.section--heading--white {
  color: #fff;
}

.heading--hover-effect {
  width: 105%;
  height: 100%;
  background-color: rgba(46, 123, 115, 1);
  z-index: -1;
  position: absolute;
  bottom: .5rem;
  left: 50%;
  transform: scaleY(.3) translateX(-50%);
  transform-origin: bottom;
  transition: all .3s;
}

.section--heading:hover>.heading--hover-effect {
  transform: scaleY(.8) translateX(-50%);
}

.card-container {
  width: 90%;
  background-color: rgba(255, 255, 255, .35);
  border-radius: 10px;
  padding: 3rem;

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  height: 260px;
  width: 350px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
  margin: 2rem;

  position: relative;
}

.card:hover>.card__invisible--part {
  transform: translateY(0);
}

.card__invisible--part {
  width: 100%;
  height: 100%;
  background-color: rgba(46, 123, 115, .9);
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  position: absolute;
  z-index: 5;
  transform: translateY(-100%);
  transition: transform .5s;
}

.card__visible--part {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to left bottom, rgba(89, 118, 62, 1), rgba(46, 123, 115, 1));

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;
}

.card--img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.card--heading {
  font-size: 2.3rem;
  font-weight: 300;
  color: #fff;

  text-align: center;
}

.card--btn {
  text-decoration: none;
  font-size: 1.3rem;
  color: #000;
  padding: .7rem;
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;

  position: relative;
  transition: all .3s;
}

.btn--text {
  position: relative;
  z-index: 1;
}

.btn--hover-effect {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: -100%;
  background-color: rgba(53, 53, 53, 1);

  transition: all .3s;
}

.card--btn:hover {
  color: #fff;
}

.card--btn:hover>.btn--hover-effect {
  top: 0;
}

/* ////////////////////////  MEDIA QUERIES  ///////////////////////////// */
@media only screen and (max-width: 67.1875em) {
  .card-container {
    padding: 1.5rem;
  }
}

@media only screen and (max-width: 60.8125em) {
  #certifications {
    clip-path: polygon(0 5%, 100% 0%, 100% 95%, 0% 100%);
    margin-top: -10%;
    padding: 8% 0;
  }

  .card-container {
    width: min-content;
    padding: 1rem;
    margin-bottom: 1.5rem;
  }
}

@media only screen and (max-width: 34.375em) {
  .section--heading {
    margin-top: 1rem;
  }

  .section--heading {
    font-size: 2.7rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 31.25em) {
  .card-container {
    padding: 0;
  }

  .card {
    transform: scale(.9);
    margin: 1.8rem;
  }
}

@media only screen and (max-width: 28.125em) {
  .card-container {
    padding: 0;
  }

  .card {
    transform: scale(.9);
    margin: .8rem;
  }

  .section--heading {
    font-size: 2.3rem;
  }
}

@media only screen and (max-width: 26.5625em) {
  .card {
    transform: scale(.85);
    margin: 0;
  }

  .section--heading-margin {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media only screen and (max-width: 24.125em) {
  .heading--hover-effect-breaked {
    width: 65%;
    height: 102%;
  }
}

@media only screen and (max-width: 23.4375em) {
  .card-container {
    transform: scale(.85);
  }

  #certifications {
    margin-top: -12%;
  }
}































/* /////////////////////////////////////// LET'S TALK SECTION ///////////////////////////////////////////////// */
#lets-talk {
  width: 100%;
  min-height: 100vh;
  background-color: rgba(228, 228, 228, 1);
  overflow: hidden;
  margin-top: -8%;
  padding: 10% 0;

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form--container {
  width: 70%;
  padding: 2rem;
  border-radius: 10px;
  background-image: linear-gradient(to left bottom, rgba(89, 118, 62, 1), rgb(48, 160, 149));
  box-shadow: 14px 11px 50px 0px rgba(0, 0, 0, 0.39);

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.contact-form-container {
  width: 56%;
  padding: 1rem;
  background-color: rgba(255, 255, 255, .6);
  border-radius: 10px;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

input,
textarea,
.submit-btn {
  margin: .5rem;
}

input,
textarea {
  flex: 1;
  min-width: 0;
  padding: .6rem;
  border: none;
  border-bottom: 3px solid transparent;
  border-top: 3px solid transparent;
  border-radius: 5px;
  transition: all .3s;
}

input:focus {
  outline: none;
  border-bottom: 3px solid #55c57a;
}

input:focus:invalid {
  border-bottom: 3px solid #ff7730;
}

textarea:focus {
  outline: none;
}

.name {
  display: flex;
  justify-content: center;
}

.submit-btn {
  border: none;
  padding: .6rem .8rem;
  font-size: 1.2rem;
  color: #fff;
  cursor: pointer;
  background: linear-gradient(to left bottom, rgba(89, 118, 62, 1), rgba(46, 123, 115, 1));
  align-self: center;
  border-radius: 10px;

  transition: all .3s;
}

.submit-btn:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
  transform: translateY(-.3rem) scale(1.1);
}

.submit-btn:active {
  box-shadow: 0 .8rem 1rem rgba(0, 0, 0, .2);
  transform: translateY(-.1rem) scale(1);
}

.social-media-container {
  background-color: rgba(255, 255, 255, .6);
  padding: 1rem 1.5rem;
  border-radius: 20px;
}

.social-media--links {
  text-decoration: none;
  background-color: rgba(255, 255, 255, .5);
  border-radius: 10px;
  padding: 1rem;
  margin: 0 1rem;
  display: inline-block;
  transition: all .3s;
}

.social-media--links:hover {
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .5);
  transform: translateY(-.7rem) rotate(-10deg);
}

.social-media--links:hover>.social-media__icon {
  transform: translateY(-.5rem) rotate(20deg);
}

.social-media--links:active>.social-media__icon {
  transform: translateY(-.5rem) rotate(10deg);
}

.social-media__icon {
  width: 2rem;
  height: 2rem;
  transition: all .4s;
}

/* ////////////////////////  MEDIA QUERIES  ///////////////////////////// */
@media only screen and (max-width: 71.875em) {
  .form--container {
    width: 85%;
  }
}

@media only screen and (max-width: 59.375em) {
  .form--container {
    width: 90%;
  }
}

@media only screen and (max-width: 56.875em) {
  .form--container {
    flex-direction: column-reverse;
    margin-top: 1.5rem;
  }

  .social-media-container {
    margin: 1.5rem 0;
  }

  .contact-form-container {
    width: max-content;
  }
}

@media only screen and (max-width: 34.375em) {
  #lets-talk {
    margin-top: -15%;
  }

  .name {
    flex-direction: column;
  }

  .social-media-container {
    padding: 1.7rem 1rem;
  }

  .social-media--links {
    padding: .8rem;
    margin: 1rem;
  }

  .social-media__icon {
    width: 1.6rem;
    height: 1.6rem;
  }
}

@media only screen and (max-width: 23.125em) {
  #lets-talk {
    margin-top: -18%;
  }

  .form--container {
    width: 95%;
    padding: .5rem;
  }

  .contact-form-container {
    padding: .7rem;
  }
}

.footer {
  width: 100vw;
  height: 6rem;
  background-color: rgba(53, 53, 53, 1);

  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text {
  font-size: .95rem;
  color: #fff;
}

.footer-link {
  color: #fff;
}

































/* /////////////////////////////////////// PROJECTS SECTION /////////////////////////////////////////// */
#projects {
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: linear-gradient(to left bottom, rgba(89, 118, 62, 1), rgb(48, 160, 149));
  position: relative;
}

.back-to-home {
  padding: .8rem 1rem;
  border-top-right-radius: 400px;
  border-bottom-right-radius: 400px;
  background-color: rgba(53, 53, 53, 1);
  color: #fff;
  position: fixed;
  top: 5rem;
  left: 0;

  z-index: 1000;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: 90%;
  margin-bottom: 1rem;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, .5);
}

.project-card {
  width: 325px;
  height: 205px;
}

.modal-container {
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(53, 53, 53, .2);
  backdrop-filter: blur(30px);

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5000;

  opacity: 0;
  visibility: hidden;

  transition: all .3s;
}

.modal-container:target {
  opacity: 1;
  visibility: visible;
}

.modal-container:target>.modal {
  transform: scale(1);
}

.modal {
  width: 60%;
  max-height: 95%;
  padding: 1rem;

  border-radius: 10px;
  background-color: rgba(53, 53, 53, 1);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transform: scale(0);
  transition: all .4s;
}

.modal--img-container {
  overflow-y: scroll;
}

.modal--img {
  width: 100%;
}

.close-btn {
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
  padding: .5rem .8rem;
  margin: 1rem;
  border-radius: 5px;
  background-color: #dc3545;

  transition: all .3s;
}

.close-btn:hover {
  background-color: #98242f;
  box-shadow: 0 0 0 .2rem #dc3545;
}

.close-btn:active {
  background-color: #dc3545;
  box-shadow: 0 0 0 .3rem rgba(152, 36, 47, .5);
}

/* ////////////////////////  MEDIA QUERIES  ///////////////////////////// */
@media only screen and (max-width: 56.875em) {
  .modal {
    width: 90%;
    padding: .4rem;
  }
}

@media only screen and (max-width: 53.75em) {
  .modal--img-container {
    overflow: hidden;
  }
}
