/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
:root {
	--Gradient-1: linear-gradient(to left bottom, #ffce43 40%, #1aa260, #dd4f43 60%);
	--Green: #1aa260;
	--Blue: #4b8bf5;
	--Yellow: #ffce43;
	--Red: #dd4f43;
	--Gray-background: #f8f9fb;
	--Gray-text: #3c4043;

	--bp-1200: 75em;
}

html {
	color: #222;
	font-size: 1em;
	line-height: 1.4;
	font-family: 'Raleway', sans-serif;

	scroll-behavior: smooth;
}

@media only screen and (max-width: 75em) {
	html {
		font-size: 80%;
	}
}

body {
	background-color: var(--Gray-background);
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
	background: var(--Yellow);
	text-shadow: none;
}

::selection {
	background: var(--Yellow);
	text-shadow: none;
}

::-webkit-scrollbar {
	width: 1rem;
	background-color: var(--Gray-background);
}

::-webkit-scrollbar-thumb {
	background: linear-gradient(to bottom, #ffce43 20%, #1aa260, #dd4f43 80%);
	border-radius: 1000px;
}

/*
 * A better looking default horizontal rule
 */

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
	resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
	display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
	/* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	white-space: inherit;
	width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
	visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
	content: " ";
	/* 1 */
	display: table;
	/* 2 */
}

.clearfix:after {
	clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
	/* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
	/* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {

	*,
	*:before,
	*:after {
		background: transparent !important;
		color: #000 !important;
		/* Black prints faster */
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " ("attr(href) ")";
	}

	abbr[title]:after {
		content: " ("attr(title) ")";
	}

	/*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
	a[href^="#"]:after,
	a[href^="javascript:"]:after {
		content: "";
	}

	pre {
		white-space: pre-wrap !important;
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	/*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
	thead {
		display: table-header-group;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}

.hero__section {
	min-height: 100vh;
	overflow: hidden;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	position: relative;
}

.red {
	width: 80vh;
	height: 80vh;
	border-radius: 50%;
	background-color: var(--Red);

	position: absolute;
	top: -30%;
	right: -18%;
}

.green {
	width: 65vh;
	height: 60vh;
	border-radius: 50px;
	background-color: var(--Green);

	position: absolute;
	bottom: -35%;
	left: -8%;
}

.blue {
	width: 13vh;
	height: 13vh;
	border-radius: 20px;
	background-color: var(--Blue);

	position: absolute;
	top: 20vh;
	left: 50vw;

	animation: rotate 5s linear infinite;
}

.yellow {
	width: 45vh;
	height: 40vh;
	border-radius: 40px;
	background-color: var(--Yellow);
	transform: rotate(30deg);

	position: absolute;
	top: -25%;
	left: 8%;
}


@media only screen and (max-width: 50em) {
	.red {
		top: -45%;
		right: -20%;
	}

	.green {
		bottom: -40%;
		left: -15%;
	}

	.blue {
		width: 12vh;
		height: 12vh;
		border-radius: 15px;
		left: 55vw;
	}

	.yellow {
		top: -30%;
	}
}

@media only screen and (max-width: 46.875em) {
	.red {
		top: -50%;
		right: -30%;
	}
}

@media only screen and (max-width: 37.5em) {
	.red {
		top: -55%;
		right: -35%;
	}

	.green {
		bottom: -45%;
		left: -20%;
	}

	.blue {
		width: 10vh;
		height: 10vh;
		border-radius: 10px;
	}

	.yellow {
		top: -32%;
		left: 2%;
	}
}

@media only screen and (max-width: 31.25em) {
	.red {
		top: -60%;
		right: -40%;
	}

	.blue {
		width: 8vh;
		height: 8vh;
		border-radius: 5px;
		top: 15vh;
		left: 65vw;
	}

	.yellow {
		top: -34%;
		left: 0;
	}
}

.navigation {
	position: absolute;
	z-index: 6000;
	top: 4vh;
	left: 50%;
	transform: translateX(-50%);
	width: 95vw;
	overflow: hidden;

	backdrop-filter: blur(50px);
	background-color: rgba(255, 255, 255, .5);
	box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
	border-radius: 10px;

	display: flex;
	justify-content: flex-end;
	align-items: baseline;
	align-content: stretch;
}

@media only screen and (max-width: 31.25em) {
	.navigation {
		display: none;
	}
}

@media only screen and (max-width: 43.75em) {
	.navigation {
		justify-content: center;
	}
}

.navigation__link {
	font-size: 1.3rem;
	font-weight: 300;
	text-decoration: none;
	padding: 1rem;
	color: var(--Gray-text);
	transition: all .2s;
}

.navigation__link:hover {
	background-color: var(--Yellow);
}

.navigation__link--projects {
	background-image: var(--Gradient-1);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	font-weight: 700;
	transition: all .2s;
}

.navigation__link--projects:hover {
	background-clip: border-box;
	-webkit-background-clip: border-box;
	color: #fff;
}

.home__content {
	position: static;
	z-index: 50;

	display: flex;
	flex-wrap: wrap;
	width: 85vw;
	align-items: center;
	justify-content: space-between;
}

.home__content--text {
	width: 50%;
}

@media only screen and (max-width: 56.25em) {
	.home__content--text {
		width: 90%;
	}
}

@media only screen and (max-width: 31.25em) {
	.home__content--text {
		width: 95%;
		transform: translateY(2rem);
	}
}

.heading--1 {
	font-size: 5.3125rem;
	font-weight: 300;
	color: black;
	line-height: 1;
	margin-bottom: -2rem;
	letter-spacing: .1rem;
}

@media only screen and (max-width: 59.4375em) {
	.heading--1 {
		font-size: 5rem;
	}
}

.heading--2 {
	font-size: 2rem;
	font-weight: 300;
	color: black;
}

@media only screen and (max-width: 59.4375em) {
	.heading--2 {
		font-size: 1.8rem;
	}
}

.paragraph {
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	margin: 2.5rem 0;
}

@media only screen and (max-width: 75em) {
	.paragraph {
		font-size: 1.2rem;
		margin: 2rem 0;
	}
}

.profile-pic {
	height: 70vh;

	position: absolute;
	bottom: 0;
	right: 0;
}

@media only screen and (max-width: 56.25em) {
	.profile-pic {
		display: none;
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(180deg);
	}
}

/*///////////////// SKILLS SECTION //////////////////*/

.skills__section {
	min-height: 100vh;
	overflow: hidden;
	position: relative;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

svg {
	position: relative;
	width: 150px;
	height: 150px;
	z-index: 1000;
}

svg circle {
	width: 100%;
	height: 100%;
	fill: none;
	stroke: #e2e2e2;
	stroke-width: 10px;
	stroke-linecap: round;
	transform: translate(5px, 5px);
}

svg circle:nth-child(2) {
	stroke-dasharray: 440;
	stroke-dashoffset: 440;
}

.card:nth-child(1) svg circle:nth-child(2) {
	stroke-dashoffset: 66;
	stroke: #00ff43;
}

.card:nth-child(2) svg circle:nth-child(2) {
	stroke-dashoffset: 44;
	stroke: #00a1ff;
}

.card:nth-child(3) svg circle:nth-child(2) {
	stroke-dashoffset: 132;
	stroke: #ff04f7;
}

.card:nth-child(4) svg circle:nth-child(2) {
	stroke-dashoffset: 22;
	stroke: #ffce43;
}

.container {
	position: relative;
	margin-top: 7.5rem;

	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.container .card {
	position: relative;
	width: 250px;
	background: linear-gradient(to bottom, #989797, #e0e0e0);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 300px;
	border-radius: 10px;
	text-align: center;
	overflow: hidden;
	margin: 1rem 1rem;
	transition: all .5s;
}

.container .card:hover {
	transform: translateY(-10px);
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, .15);
}

.container .card::before {
	content: "";
	position: absolute;
	top: 0;
	left: -50%;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, .3);
	z-index: 1;
	border-radius: 40%;
}

.percent {
	position: relative;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	box-shadow: inset 0 0 50px #000;
	background: #adadad;
	z-index: 1000;
}

.percent .number {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

.percent .number h2 {
	font-weight: 700;
	color: #4a4a4a;
	font-size: 40px;
	transition: all .5s;
}

.card:hover .percent .number h2 {
	color: #e4e4e4;
	transform: scale(1.2);
}

h2.text {
	position: relative;
	color: #4a4a4a;
	font-weight: 700;
	font-size: 1.125rem;
	letter-spacing: 1px;
	width: min-content;
	transition: all .5s;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	z-index: 2;
}

.card:hover h2.text {
	color: #808080;
}

.heading--section {
	font-size: 4rem;
	font-weight: 300;
	color: black;
	line-height: 1;
	letter-spacing: .2rem;

	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	z-index: 100;

	border-bottom: 5px solid var(--Yellow);
}

@media only screen and (max-width: 75em) {
	.heading--section {
		font-size: 3.5rem;
	}
}

/*///////////////// CERTIFICATION SECTION //////////////////*/

.certifications__section {
	min-height: 100vh;
	overflow: hidden;
	position: relative;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

.card--2 {
	width: 350px;
	height: 260px;
	overflow: hidden;
	margin: 1rem;

	position: relative;
	border-radius: 10px;
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
}

.card--2:hover .card-invisible-part {
	transform: translateY(0);
}

.card--3:hover .card-invisible-part {
	transform: translateY(0);
}

.card-visible-part {
	position: absolute;
	top: 0;
	left: 0;

	height: 100%;
	width: 100%;
}

.card--2__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.card-invisible-part {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	overflow: hidden;
	transform: translateY(-100%);

	height: 100%;
	width: 100%;
	border-radius: 10px;

	background-color: #ffa500e3;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	transition: all .5s;
}

.card--2__btn {
	font-size: 1.3rem;
	text-decoration: none;

	padding: .8rem 1rem;
	border-radius: 10px;
	color: var(--Gray-text);
	background-color: var(--Gray-background);

	display: flex;
	align-items: center;

	transition: all .2s;
}

.card--2__btn:hover {
	background-color: var(--Gray-text);
	color: var(--Gray-background);
}

.card--2__btn:active {
	box-shadow: 0 0 0 .5rem #3c4043e0;
}

.udemy--icon {
	margin-right: .6rem;
	width: 1.4rem;
	height: 1.4rem;
}

.card--2__text {
	font-size: 2rem;
	color: #fff;
	width: 90%;
	text-align: center;
}

.card--3__btn {
	font-size: 1rem;
	font-weight: 500;
	cursor: pointer;
	color: var(--Blue);

	padding: .6rem 1rem;
	border-radius: 10px;
	border: 3px solid var(--Blue);
	background: var(--Gray-background);
	text-decoration: none;
	text-transform: uppercase;

	transition: all .3s;
}

.card--3__btn:hover {
	background-color: var(--Blue);
	color: var(--Gray-background);
}

.card--3__btn:active {
	box-shadow: 0 0 0 .8rem #4b8bf5e6;
}

.comming--soon__text {
	font-size: 3.5rem;
	font-weight: 700;
	color: #fff;
	transform: rotate(-30deg);
}

@media only screen and (max-width: 75em) {
	.comming--soon__text {
		transform: rotate(0);
	}
}

.comming--soon__part {
	height: 100%;
	width: 100%;
	background: var(--Gradient-1);
	text-align: center;
}

@media only screen and (max-width: 75em) {
	.comming--soon__part {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.projects__section {
	min-height: 100vh;
	overflow: hidden;
	position: relative;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

.heading--projects--section {
	font-size: 3rem;
	background-image: var(--Gradient-1);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	border-bottom: 3px solid var(--Yellow);
}

.card--3 {
	width: 350px;
	height: 250px;
	overflow: hidden;
	margin: 1.5rem;

	position: relative;
	border-radius: 10px;
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
}

.container--projects {
	margin-top: 9rem;
}

.card--3__text {
	font-weight: 300;
}

.BLUE {
	width: 80vh;
	height: 60vh;
	background-color: var(--Blue);
	border-radius: 30px;

	transform: rotate(40deg);

	position: absolute;
	bottom: -30vh;
	left: -35vh;
}

.home--icon {
	width: 1.5rem;
	height: 1.5rem;
	fill: var(--Red);
}

.home--icon--link {
	position: fixed;
	top: 1rem;
	left: 0;
	z-index: 1000;

	padding: 5px 7px 7px 10px;
	border-top-right-radius: 100px;
	border-bottom-right-radius: 100px;
	background-color: var(--Gray-text);
}

.popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(255, 255, 255, .5);
	backdrop-filter: blur(50px);
	z-index: 3000;
	opacity: 0;
	visibility: hidden;
	transition: all .5s;
	overflow: scroll;
}

.popup:target {
	opacity: 1;
	visibility: visible;
}

.popup:target .popup__content {
	opacity: 1;
	transform: translate(-50%, 0) scale(1);
}

.popup__content {
	width: 75%;
	margin: 2rem 0;

	opacity: 0;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, .7);
	transition: all .5s;

	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0) scale(.2);
	z-index: 4000;

	text-align: center;
}

.popup-img {
	width: 100%;
}

.btn--close {
	display: inline-block;
	border: none;
	padding: .5rem 1rem;
	margin: 1rem 0;
	font-size: 1.2rem;
	background-color: var(--Red);
	text-decoration: none;
	cursor: pointer;
	color: #fff;
	border-radius: 10px;
}

.contact-me__section {
	position: relative;
	min-height: 100vh;
	overflow: hidden;


	display: flex;
	flex-direction: column;
	justify-content: center;
}





.contact-form {
	display: flex;
	flex-direction: column;
	margin: 1rem;

	font-family: inherit;

	border-radius: 20px;
	padding: 2rem;
	background-color: #f2f2f2;
}



.first-name {
	margin: 0 1rem;
	box-shadow: 0 .2rem .2rem rgba(0, 0, 0, .1);

	border-radius: 5px;
	padding: .8rem 1.3rem;
	border: none;
}

.last-name {
	margin: 0 1rem;
	box-shadow: 0 .2rem .2rem rgba(0, 0, 0, .1);

	border-radius: 5px;
	padding: .8rem 1.3rem;
	border: none;
}

.name {
	margin: 1rem 0;
	display: flex;
}

.email {
	margin: 1rem;
	box-shadow: 0 .2rem .2rem rgba(0, 0, 0, .1);

	border-radius: 5px;
	padding: .8rem 1.3rem;
	border: none;
}

.message {
	margin: 1rem;
	box-shadow: 0 .2rem .2rem rgba(0, 0, 0, .1);

	border-radius: 5px;
	padding: .8rem 1.3rem;
	border: none;
}

.submit-btn {
	font-size: 1.4rem;
	padding: .8rem 1rem;
	border: none;
	border-radius: 10px;
	background-color: var(--Yellow);
	cursor: pointer;

	align-self: center;

	transition: all .3s;
}

.submit-btn:hover {
	filter: brightness(90%);
}

.linkedin--icon {
	width: 1.5rem;
	height: 1.5rem;
}

.github--icon {
	width: 1.5rem;
	height: 1.5rem;
}

@keyframes lookatme {
	0% {
		transform: translateY(0);
	}

	25% {
		transform: translateY(-1.5rem);
	}

	50% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(0);
	}
}

.icon--div {
	display: inline;
	width: 3.5rem;
	height: 3.5rem;
	margin: 1rem;

	border-radius: 10px;
	background-color: #e8e8e8;
	cursor: pointer;
	box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);

	display: flex;
	justify-content: center;
	align-items: center;
}

.social-media {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	margin: 2rem;
}

.media-icon--div {
	display: flex;
	justify-content: center;
}



.icon--div--linkedin {
	animation: lookatme 2s infinite;
}

.icon--div--github {
	animation: lookatme 2s 1.5s infinite;
}

.RED {
	width: 45vh;
	height: 45vh;
	border-radius: 50%;

	background-color: var(--Red);

	position: absolute;
	bottom: -30vh;
	left: 2rem;
}

.GREEN {
	width: 50vh;
	height: 50vh;
	border-radius: 30px;

	background-color: var(--Green);
	transform: rotate(35deg);

	position: absolute;
	top: -20vh;
	right: -10vh;
}

@media only screen and (max-width: 46.875em) {
	.GREEN {
		top: -30vh;
		right: -15vh;
	}
}

@media only screen and (max-width: 37.5em) {
	.GREEN {
		top: -33vh;
		right: -18vh;
	}

	.RED {
		left: 0;
	}
}

@media only screen and (max-width: 31.25em) {
	.GREEN {
		right: -20vh;
	}

	.RED {
		left: -10%;
	}
}

@media only screen and (max-width: 46.875em) {
	.container--contact-me {
		flex-direction: column;
	}
}





.nav-check {
	display: none;
	position: fixed;
	top: 2rem;
	right: 2rem;
}

.nav__button {
	width: 4rem;
	height: 3rem;
	border-radius: 5px;
	cursor: pointer;

	background-color: rgba(255, 255, 255, 1);
	box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .2);

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	position: fixed;
	top: 2rem;
	right: 2rem;

	z-index: 5000;
}

.nav__button:hover .nav--icon::before {
	transform: translateY(-11px);
}

.nav__button:hover .nav--icon::after {
	transform: translateY(8px);
}

.nav--icon {
	width: 3rem;
	height: 3px;
	background-color: var(--Gray-text);
}





.nav--icon::before,
.nav--icon::after {
	content: "";
	width: 100%;
	height: 100%;
	background-color: var(--Gray-text);
	display: block;
	transition: all .2s;
}

.nav--icon::before {
	transform: translateY(-9px);
}

.nav--icon::after {
	transform: translateY(6px);
}









.nav-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	padding: 4rem;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 1);

	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -150%);

	z-index: 4999;

	visibility: hidden;
	opacity: 0;
	transition: all .5s;
}

.nav-check:checked ~ .nav-content {
	visibility: visible;
	opacity: 1;
	transform: translate(-50%, -50%);
}

.nav-check:checked .nav--icon {
	opacity: 0;
}

.nav-check:checked + .nav__button .nav--icon::before {
	transform: translate(0, 1px) rotate(45deg);
}

.nav-check:checked + .nav__button .nav--icon {
	background-color: transparent;
}

.nav-check:checked + .nav__button .nav--icon::after {
	transform: translate(0, -1px) rotate(-45deg);
}

.nav--btn {
	display: none;
}

@media only screen and (max-width: 31.25em) {
	.nav--btn {
		display: block;
	}
}
