/* Header Section */
#header {
  font-family: "Montserrat";
  text-align: center;
  padding: 3% 4% 2%;
}

hr {
  width: 70%;
  border-width: 1px;
  border-color: rgb(47, 47, 51);
}

.carousel-item {
   height: 550px;
}

@media (max-width: 1028px) {
  hr {
    border: none;
  }
  .carousel-item {
    height: 300px;
  }
  .header-pic {
    width: 70px;
    height: 70px;
  }
}

/* Welcome Section */
#welcome {
  text-align: center;
  padding: 10% 20%;
  background-color: rgb(233, 233, 233);
}

.welcome-heading {
  font-family: "ubuntu";
  color: rgb(203, 122, 48);
  font-weight: bold;
  font-size: 4.5rem;
}

.welcome-line {
  font-family: "Montserrat";
  color: rgb(63, 64, 62);
}

/* About Me Section */
#about-me {
  text-align: center;
  background-color: rgb(203, 122, 48);
  color: #fff;
  padding: 10% 20%;
}

.about-me-heading {
  font-family: "ubuntu";
  font-weight: bold;
}

/* Education Section */
#education {
  text-align: center;
  background-color: #fff;
  padding: 10% 14%;
}

.education-heading {
  font-family: "ubuntu";
  font-weight: bold;
  color: rgb(203, 122, 48);
  padding-bottom: 1rem;
}

.edu-table {
  padding-top: 3rem;
}

.edu-name {
  font-family: "ubuntu";
  color: rgb(203, 122, 48);
}

/* My skills Section */
#my-skills {
  text-align: left;
  background-color: rgb(233, 233, 233);
}

.skills {
  margin: 0;
}

.skill-pic {
  padding: 0;
}

.skill-heading {
  font-family: "ubuntu";
  color: rgb(203, 122, 48);
  font-weight: bold;
  padding: 5% 0;
}

.skill-h3 {
  font-family: "Montserrat";
  color: rgb(203, 122, 48);
}

/* Quote Section */
#quote {
  text-align: center;
  background-color: rgb(203, 122, 48);
  color: #fff;
  padding: 10% 20%;
}

.quote-heading {
  font-family: "ubuntu";
  font-weight: bold;
}

.quote-p {
  font-family: "Montserrat";
}

/* Contact Me Section */
#contact-me {
  text-align: center;
  background-color: #fff;
  padding: 10% 30%;
}

.contact-heading {
  font-family: "ubuntu";
  font-weight: bold;
  color: rgb(203, 122, 48);
}

.contact-sub-heading {
  font-family: "Montserrat";
  color: rgb(170, 101, 39);
}

.contact-p {
  font-family: "Montserrat";
}

.butn {
  background: #ff6f00;
  background-image: -webkit-linear-gradient(top, #ff6f00, #ff8400);
  background-image: -moz-linear-gradient(top, #ff6f00, #ff8400);
  background-image: -ms-linear-gradient(top, #ff6f00, #ff8400);
  background-image: -o-linear-gradient(top, #ff6f00, #ff8400);
  background-image: linear-gradient(to bottom, #ff6f00, #ff8400);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.butn:hover {
  color: #ffffff;
  background: #ff9a2e;
  background-image: -webkit-linear-gradient(top, #ff9a2e, #e09412);
  background-image: -moz-linear-gradient(top, #ff9a2e, #e09412);
  background-image: -ms-linear-gradient(top, #ff9a2e, #e09412);
  background-image: -o-linear-gradient(top, #ff9a2e, #e09412);
  background-image: linear-gradient(to bottom, #ff9a2e, #e09412);
  text-decoration: none;
}

/* Footer Section */
#footer {
  text-align: center;
  padding: 4% 10%;
}

.icon-link {
  color: rgb(0, 0, 0);
  margin: 10% 1.5%;
}

.icon-link:hover {
  color: rgb(203, 122, 48);
}

.footer {
  padding-top: 4%;
  font-size: 0.8rem;
  color: rgb(106, 104, 102);
}
